body{
    margin: 0;
    padding: 0;
    display: block;
}

.secundario {
    background-image: linear-gradient(to bottom, #EB9A15, #EBB315);
    background-attachment: fixed;
}

.botao {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: rgba(134, 99, 0, 0.288);
    margin: auto;
    width: 200px;
    text-decoration-line: none;
    }

    
    
